.App {
  text-align: center;
  background:linear-gradient(180deg, rgba(49,2,93,1) 41%, rgba(66,1,44,1) 100%);
  height: 100vh;
  padding: 0 0 10em 0;
}


/*DESKTOP*/

@media screen and (min-width:1200px){


  /*Container with search results*/
  .moviesContainer{

    width:650px;
    padding: 30px 50px 90px 50px;
    background-color: rgba(35, 12, 72, 0.301);
    border-radius: 20px;
    display:grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 3%;
    margin: 3em auto 0;
  }

  .moviesContainer h2{

    color:white;
    grid-column-start: 1;
    text-align: left;
    grid-column-end: 4;
    font-weight: 500;
  }

  .explorationContainer{
    margin: auto;
    height: 53.8vh;
    background:linear-gradient(180deg, rgba(49,2,93,1) 41%, rgba(66,1,44,1) 100%);
  }
  
  /*BLOCK IF NO MOVIE WAS FOUND*/
  .NotFound{

    width:300px;
    padding: 4em;
    border-radius: 210px;
    height: 574px;
    margin: auto;
    margin: 3em auto 0;


  }
  .NotFound p{

   color:rgb(185, 197, 200);
   font-size: 2em;
   line-height: 2;
   margin-top: 10px;
   text-align: center;
  }

  .NotFound img{
    width:200px;
    display: block;
    margin-left: 2.5em;
    height: 210px;
  }

  .NotFound img:before{
    filter:blur(20px);
  }

}

