.App {
  text-align: center;
  background:linear-gradient(180deg, rgba(49,2,93,1) 7%, rgba(0,0,0,1) 100%);;
  min-height: 100vh;
  padding-bottom: 5em;
}


/*DESKTOP*/

@media screen and (min-width:1200px){

  .popularMoviesContainer{
    display: grid;
    width:1200px;
    padding: 20px 20px 60px 50px;
    background-color: rgba(66, 5, 57, 0.199);
    margin: 2em auto 4em;
    border-radius: 20px;
    grid-template-columns: repeat(6, 17%);
  }
  .popularMoviesContainer h2{
    color:white;
    margin-bottom: 1em;
    grid-row-start: 1;
    grid-column-start: 1;
    text-align: left;
    grid-column-end: 7;
    font-weight: 500;
  }


  /*Container with search results*/
  .moviesContainer{

    display: grid;
    width:1200px;
    padding: 20px 20px 20px 50px;
    background-color: rgba(66, 5, 57, 0.199);
    margin: auto;
    border-radius: 20px;
    grid-template-columns: repeat(6, 17%);
  }

  .moviesContainer h2{

    color:white;
    margin-bottom: 1em;
    grid-row-start: 1;
    grid-column-start: 1;
    text-align: left;
    grid-column-end: 7;
    font-weight: 500;
  }

  
  /*BLOCK IF NO MOVIE WAS FOUND*/
  .NotFound{

    width:300px;
    padding: 4em;
    border-radius: 210px;
    height: 574px;
    margin: auto;
    margin: 3em auto 0;


  }
  .NotFound p{

   color:rgb(185, 197, 200);
   font-size: 2em;
   line-height: 2;
   margin-top: 10px;
   text-align: center;
  }

  .NotFound img{
    width:200px;
    display: block;
    margin-left: 2.5em;
    height: 210px;
  }

  .NotFound img:before{
    filter:blur(20px);
  }

}


/*TABLET*/
@media screen and (min-width:700px) and (max-width:1199px){


  .App {
    text-align: center;
    background:linear-gradient(180deg, rgba(49,2,93,1) 41%, rgba(66,1,44,1) 100%);
    min-height: 100vh;
    padding-bottom: 5em;
  }


  .popularMoviesContainer{

    width:90%;
    padding: 1em 2em 5em;
    background-color: rgba(66, 5, 57, 0.199);
    margin: 3em auto 4em;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-gap:3%;
  }


  .popularMoviesContainer h2{
    color:white;
    margin: 1em 0 0.5em;
    grid-column-start: 1;
    grid-column-end:5;
    text-align: left;
    font-weight: 500;
  }



  /*Container with search results*/
  .moviesContainer{

    width:90%;
    padding: 1em 2em 5em;
    background-color: rgba(66, 5, 57, 0.199);
    margin: 3em auto 4em;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-gap:3%;
   
  }

  .moviesContainer h2{

    color:white;
    margin: 1em 0 0.5em;
    grid-column-start: 1;
    grid-column-end:5;
    text-align: left;
    font-weight: 500;
  }

  
  /*BLOCK IF NO MOVIE WAS FOUND*/
  .NotFound{

    width:300px;
    padding: 4em;
    border-radius: 210px;
    height: 574px;
    margin: auto;
    margin: 3em auto 0;


  }
  .NotFound p{

   color:rgb(185, 197, 200);
   font-size: 2em;
   line-height: 2;
   margin-top: 10px;
   text-align: center;
  }

  .NotFound img{
    width:200px;
    display: block;
    margin-left: 2.5em;
    height: 210px;
  }

  .NotFound img:before{
    filter:blur(20px);
  }

}

/*PHONE*/
@media screen and (min-width:200px) and (max-width:699px){


  .App {
    text-align: center;
    background:linear-gradient(180deg, rgba(49,2,93,1) 41%, rgba(66,1,44,1) 100%);
    min-height: 100vh;
    padding-bottom: 3em;
  }
  

  .popularMoviesContainer{

    width:90%;
    padding: 1em 1em 5em;
    background-color: rgba(66, 5, 57, 0.199);
    margin: 3em auto 4em;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-gap:3%;
  }


  .popularMoviesContainer h2{
    color:white;
    margin: 1em 0 0.5em;
    grid-column-start: 1;
    grid-column-end:4;
    text-align: left;
    font-weight: 500;
  }



  /*Container with search results*/
  .moviesContainer{

    width:90%;
    padding: 1em 1em 5em;
    background-color: rgba(66, 5, 57, 0.199);
    margin: 3em auto 4em;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-gap:3%;
  }

  .moviesContainer h2{

    color:white;
    margin: 1em 0 0.5em;
    grid-column-start: 1;
    grid-column-end:4;
    text-align: left;
    font-weight: 500;
  }

  /*BLOCK IF NO MOVIE WAS FOUND*/
  .NotFound{

    width:300px;
    padding: 4em;
    border-radius: 210px;
    height: 574px;
    margin: auto;
    margin: 3em auto 0;


  }
  .NotFound p{

   color:rgb(185, 197, 200);
   font-size: 2em;
   line-height: 2;
   margin-top: 10px;
   text-align: center;
  }

  .NotFound img{
    width:200px;
    display: block;
    margin-left: 2.5em;
    height: 210px;
  }


}

