/*DESKTOP*/
@media screen and (min-width:1200px){


    .headerContainer{
        padding: 2em 0;
        background:linear-gradient(0deg, rgba(36, 2, 68, 0.168) 10%, rgba(0,0,0,1) 100%);;
    }

    .headerContainer h3{

        font-size:3em;
        color:white;
        line-height: 1.7;
        font-weight: 400;
    }

    .headerContainer h5{

        font-size:2em;
        color:white;
        font-weight: 300;
    }


}


/*TABLET*/
@media screen and (min-width:700px) and (max-width:1199px){


    .headerContainer{
        padding: 2em 0;
        background:linear-gradient(180deg, rgb(25, 1, 47) 41%, rgba(49,2,93,1) 100%);
    }

    .headerContainer h3{

        font-size:3em;
        color:white;
        line-height: 1.7;
        font-weight: 400;
    }

    .headerContainer h5{

        font-size:2em;
        color:white;
        font-weight: 300;
    }

}

/*PHONE*/
@media screen and (min-width:200px) and (max-width:699px){


    .headerContainer{
        padding: 2em 0;
        background:linear-gradient(0deg, rgba(49,2,93,1) 7%, rgba(0,0,0,1) 100%);
    }

    .headerContainer h3{

        font-size:3em;
        color:white;
        line-height: 1.7;
        font-weight: 400;
    }

    .headerContainer h5{

        font-size:1.2em;
        color:white;
        font-weight: 300;
    }

}